body{
    height: 1080px;
    width: 1280px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, red , rgb(255, 115, 0) , yellow , rgb(39, 216, 3) , rgb(30, 99, 228), rgb(167, 16, 255));
    z-index: 1000;
  }
  
  .spinner {
    border: 12px solid #ffffff;
    border-top: 12px solid #00000057;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }
  @keyframes spin {
    0% {
        transform: rotate(0deg); /* Comienza sin rotar */
    }
    100% {
        transform: rotate(360deg); /* Gira 360 grados */
    }
}

#loader img {
    height: 200px;
}

/*HEADER*/
.header{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #00D1D5;
    z-index: 1000;
    top: 0;
    height: 0px;
    transition: all 0.4s ease-in-out;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(180deg, #00D1D5 0%, rgba(0, 209, 213, 0.12) 87.91%, rgba(1, 208, 213, 0) 100%);
  z-index: -1;
}
.header .comprar{
    width: 200px;
    height: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 900;
    background-color: #83C252;
    justify-content: center;
    border-radius: 111px;
    border: 8px solid white;
    box-shadow: 4px 5px 0px #02187E;
    margin-right: 100px;
}
.header .logoPrincipal{
    width: 560px;
    height: 320px;
    margin-left: 120px;
    transition: all 0.4s ease-in-out;
}
.logoMenu{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: 20px;
}
.logoMenu img{
    width: 48px;
    height: 40px;
}

/* HEADER*/

/*CONTEINERS*/


.conteiner1{
    background-image: url(../images/fondoNubes2.png);
    width: 1280px;
    height: 959px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.personajes1{
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 600px;
}

.personaje11 img{
    position: absolute;
    height: 314px;
    transform: rotate(-6.51deg);
    margin-top: 527px;
    z-index: 2;
}
.personaje22 img{
    position: absolute;
    height: 270px;
    margin-top: 430px;
    transform: rotate(-6.72deg);
    margin-left: 165px;
    z-index: 1;
}
.personaje33 img{
    position: absolute;
    height: 384px;
    margin-top: 360px;
    transform: rotate(8.73deg);
    margin-left: 340px;
}

.conteiner3{
    background-image: url(../images/fondoVerdeGradrient.png);
    background-repeat: no-repeat; 
    width: 1280px;
    height: 894px;
    padding-bottom: 210px;
    
}

.cont3 h2{
    font-size: 47px;
    font-weight: 600;
    line-height: 44.41px;
    color: #1B428F;
    margin: 0;
    margin-left: 100px;
}
.cont3 p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #1B428F;
    margin-left: 100px;
}
.cardGrande img{
    width: 547.38px;
    height: 295.35px;
    margin-left: 206px;
    border-radius: 77px;
    border: 29px;
    opacity: 0px;
    border: 29px solid #1B5F99
}

.personajes{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 10;
}
.personajes img{
    position: relative;
    top: -800px;
}
.personaje4 {
    margin-left: 48px;
    z-index: 11;
}
.personaje5 {
    z-index: 11;
    margin-left: 200px;
    object-fit: contain;
}


.conteiner-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
    margin-top: 80px;
}
.conteiner-cards img{
    width: 332.96px;
    height: 302.69px;
    object-fit: cover;
    border-radius: 41px;
    border: 9px;
    opacity: 0px;
    border: 9px solid #2982FF;
    box-shadow: 4px 5px 0px #02187E;
}
.conteiner-cards p{
    font-size: 20px;
}

.conteiner2{
    background-image: url(../images/fondoVioleta.png);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: centers;
    height: 1157px;
}
.conteiner2 p{
    margin-top: 124px;
    font-size: 61.14px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

.conteiner2 .italic-text{
    font-style: italic;
}
.conteiner2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 50px;
    margin: 0 auto;
    margin-top: 60px;
    color: white;
    background-color: #83C252;
    border-radius: 111px;
    border: 8px solid white;
    box-shadow: 4px 5px 0px #02187E;
    margin-bottom: 0;


}
.conteiner2 img{
    width: 1280px;
    height: 767px;
}

/*CONTEINERS*/



.titulo-seccion{
    font-size: 60px;
    color: black;
}

.subrayado {
    text-decoration: underline;
  }

/*FOOTER*/
footer{
    height: 595px;
    background-color: #5E5E5D;
}

footer .barra-footer{
    width: 1080px;
    height: 75px;
}

.div-barra{
    display: flex;
    justify-content: center;
    background-color: #242424;
}

footer .redes-footer{
    width: 212px;
    height: 41px;
    margin-left: 165px;
    margin-top: 40px;
}

footer .desc-footer{
    margin-top: 40px;
    width: 820px;
    height: 361px;
    margin-left: 165px;
}

footer p, footer a{
    font-size: 20px;
    color: white;
    line-height: 18.9px;
    letter-spacing: 1.6px;
    
}

.link-footer:hover{
    color: #242424;
}

/*SECCION SUSCRIPCION*/
.seccion-suscripcion{
    width: 1280px;
    position: relative;
}

.img-fondo-suscripcion {
    width: 100%; 
    margin-top: 200px;
}

.img-piso-suscripcion{
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 0; 
    margin-top: 200px;
}

.personaje2-suscripcion{
    position: absolute;
    top: 790px;
    left: 10px; 
    margin-top: 200px;
}

.personaje3-suscripcion{
    position: absolute;
    top: 750px;
    left: 360px; 
    margin-top: 200px;
}

.personaje7-suscripcion{
    position: absolute;
    top: 340px;
    left: 710px; 
    margin-top: 200px;
}

.nube {
    position: absolute;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    animation: moverNube linear infinite;
}

.nube1-suscripcion {
    width: 387px;
    height: 181px;
    top: 720px;
    left: -800px; 
    animation-duration: 40s;
    z-index: 0;
}

.nube2-suscripcion {
    width: 265px;
    height: 124px;
    top: 435px;
    left: -500px; 
    animation-duration: 38s;
    z-index: 0;
}

.nube3-suscripcion {
    width: 387px;
    height: 181px;
    top: 480px;
    left: -400px; 
    animation-duration: 34s;
    z-index: 0;
}

@keyframes moverNube {
    0% { transform: translateX(0); } 
    100% { transform: translateX(2000px); }
}


.contenido-suscripcion{
    position: absolute;
    padding-left: 100px;
    padding-right: 350px;
}

.texto-suscripcion{
    width: 530px;
    font-size: 20px;
    padding-top: 10px;
}

/*SECCION PERSONAJES*/
.contenedor-personajes{
    display: flex;
    width: 1280px;
    height: 770px;
    margin-top: 240px;
    margin-bottom: 150px;
    flex-direction: column;
    justify-content: space-between;
   background-image: url(../images/seccion-personajes/recortesPersonajes/Diseño\ sin\ título.png);
   background-size: 1280px 770px; 
}

.seccion-grilla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grilla-top{
    padding-bottom: 30px;
}

.div-personaje-grilla{
    position: relative; 
    display: flex;
    height: 370px;
    width: 231px;
    align-items: center;
    display: inline-block; 
    overflow: hidden; 
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.137) inset;
}

.recorte-personaje{
    bottom: 0;
    position: absolute;
    width: 100%; 
    transition: transform 0.9s ease; 
    }

.personaje-celeste{
    right: 0;
    }

.recorte-personaje:hover{
    cursor: pointer;
    bottom: 2px;
    transform: scale(1.1); 
    filter:drop-shadow( 0 0 25px rgba(255, 255, 255, 0.753)); 
}

.div-personaje-rojo{
    background-color: rgba(175,26,27,255);
}

.div-personaje-naranja{
    background-color: #d58432;
}

.div-personaje-amarillo{
    background-color: #b8a40d;
}

.div-personaje-rosa{
    background-color:#ac1e72;
    position: relative; 
}

.div-personaje-violeta{
    background-color: #411c90;
}

.div-personaje-celeste{
    background-color: #1aa3ad;
    position: relative; 
}

.div-personaje-gris{
    background-color: #6c6764;
}
.div-personaje-verde{
    background-color: #38ae00;
}

.div-personaje-blanco{
    background-color: #ffffff;
    box-shadow: none;
}

.div-personaje-colorido{
    display: flex;
    flex-direction: column;
}

.div-rojo{
    width: 100%;
    background-color: #fb0605;
    height: 74px;
}

.div-naranja{
    width: 100%;
    height: 74px;
    background-color: #fc7607;
}

.div-amarillo{
    width: 100%;
    height: 74px;
    background-color: #f4eb0a;
}

.div-azul{
    width: 100%;
    height: 74px;
    background-color: #00f5c9;
}
.div-verde{
    width: 100%;
    height: 74px;
    background-color: #5df105;
}

/*SECCION EFECTOS 3D*/
.seccion-efectos3D{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    position: relative;
}

.titulo3D{
    color: #9D2121;
}

#texto-seccion-3d{
    max-width: 490px;
}

.contenido-efectos3D{
    padding-right: 400px;
}

.imgSeccion3D{
    position: absolute;
   top: 40px;
    left: 600px; 
}