<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>

<body>

    <div class="menu"> <!-- Se oculta con class hidden -->
        <div class="input-buscar">
            <input type="text" placeholder="Buscar juegos...">
            <img src="lupa.png" alt="">
        </div>
        <div class="menu-opciones">
            <button>
                <img class="menu-icono" src="../../imgs/iconos/home.png" alt="">
                <h4>Inicio</h4>
            </button>
            <button>
                <img class="menu-icono" src="../../imgs/iconos/nuevos.png" alt="">
                <h4>Nuevos</h4>
            </button>
            <button>
                <img class="menu-icono" src="../../imgs/iconos/favoritos.png" alt="">
                <h4>Favoritos</h4>
            </button>
            <button>
                <img class="menu-icono" src="../../imgs/iconos/coleccion.png" alt="">
                <h4>Colección</h4>
            </button>
        </div>
        <div class="menu-categorias">

            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Accion</h4>
                    </div>

                    <h5>+1461</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Aventuras</h4>
                    </div>

                    <h5>+456</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Basquet</h4>
                    </div>

                    <h5>+690</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Belleza</h4>
                    </div>

                    <h5>+1423</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Carreras</h4>
                    </div>

                    <h5>+677</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Cartas</h4>
                    </div>

                    <h5>+450</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Coches</h4>
                    </div>

                    <h5>+355</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Cocina</h4>
                    </div>

                    <h5>+997</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Deportes</h4>
                    </div>

                    <h5>+1284</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Disparos</h4>
                    </div>

                    <h5>+864</h5>
                </button>
            </div>
            <div class="menu-categoria">
                <button>
                    <div class="button-label">
                        <img class="menu-icono" src="../../imgs/iconos/accion.png" alt="">
                        <h4>Estrategia</h4>
                    </div>

                    <h5>+750</h5>
                </button>
            </div>
        </div>
    </div>

</body>

</html>