@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body{
    background-color: #04031D;
    font-family: 'Inter', sans-serif;
    color: #DEDEDE;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0%;
}

h1{
    font-size: 30px;
    font-weight: bold;
}

h2{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

p{
    font-size: 12px;
    margin: 5px;
    text-align: center;
}

.textoLabel{
    font-size: 15px;
    width: 100%;
    text-align: start;
}

.link{
    font-weight: bold;
    color: #5E68DE;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    transition: color 0.5s ease;
    padding-bottom: 5px;
}

.link:hover{
    color: #a0a7f8;
    font-size: 12.5px;
}

.link2{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s ease;
    font-size: 13px;
}

.link2:hover{
    color: #61669b;
  }

.tituloMenu{
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
    font-weight: bold;
}

.botonTexto{
    font-size: 16px;
    font-weight: bold;
}

.label{
    font-size: 15px;
}

.card{
    width: 300px;
    height: 200px;
}

header{
    background: linear-gradient(to right, #1E2039, #520060, #DEDEDE, #520060, #1E2039);
    height: 90px;
    padding: 0px;
}

.contenedorFormulario{
   position: absolute;
   right: 10%;
   top: 30%;

}

.formulario{
    display: flex;
    background-color: #1E2039;
    width: 300px;
    border-radius: 18px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}
.formularioRegistro{    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    width: 85%;
}


.contenedorBajoForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.botonRegistrar {
    background-color: #800096; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.botonRegistrar:hover {
    background-color: #c434dd;
    transform: scale(1.1); 
    color: #ffffff;
}

.botonRegistrar:active {
    transform: scale(1.05); 
}


.contenedorRedesRegistrar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.iconoUser{
    width:50px;
    height: 50px;
}

.iconoRedesForm{
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.seccionLogIn{
    display: flex;
    flex-direction: row;
}

.contenedorImgLogIn{
    overflow: hidden;
    width: 50%;
    position: relative;
    

}
.imgForm{
    filter: blur(5px);
    width: 100%;
    height: auto;
}

.logoImgRegistro{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
 
}

.recaptcha{
    width: 200px;
    height: 50px;
}

.contenedorRecaptcha{
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputRegistro{
    width: 100%;
    border-radius: 6px;
    border: none;
    margin-bottom: 5px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

form:not(.hidden) {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.imgCard{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

footer{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #1E2039, #363962, #1E2039);
    justify-content:center; 
    margin-top: auto;
    }
    

.seccionFooter{
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 6%;
}

.seccionFooterMedia{
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 5%;
}
.seccionFooterIzquierda{
display: flex;
flex-direction: column;
padding: 40px;
padding-top: 8%;
}

.linksFooter{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 6%;
}

.textoFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 12px;

}

.logoFooter{
    width: 254px;
    height: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iconoFooter{
    width: 40px;
    height: 40px;
}

.IconosRedesFooter{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}

.contenedorRedSocial{
    height: 50px;
    width: 130px;
    display: flex;
    border-radius: 18px;
    background-color: #414681;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    transition: width 0.5s ease, height 0.5s ease; 

}

.contenedorRedSocial:hover{
    background-color: #6f74a7;
    width: 133px;
    height: 53px;
}


body{
    background-color: #04031D;
    margin: 0px;
    padding: 0px;
}

nav{
    background: linear-gradient(90deg, #1E2039 5%, #520060 25%, #AF00CD 35%, #FFFFFF 50%, #AF00CD 65%,#520060 75%,#1E2039 95% );
    height: 90px;
}

nav ul.navigation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}

ul svg{
    width: 40px;
    height: 40px;
}

ul img{
    padding-right: 200px;
    width: 219px;
    height: 76px;;
}

input::placeholder{
    font-size: 15px;
}

.conteiner-izquierda{
    display: flex;
    align-items: center;
    padding-right: 250px;

}
.conteiner-izquierda .logoMenu{
    padding-right: 10px;
    
}
.logoMenu svg{
    width: 50px;
    height: 50px;
}

.conteiner-derecha{
    display: flex;
    align-items: center;
    padding-left: 250px;
}

.conteiner-derecha .logoUsuario{
    padding-left: 30px;
}

.busqueda{
    position: relative;
}

.busqueda input{
    background-color: #DEDEDE;
    border: none;
    border-radius: 10px;
    width: 240px;
    height: 35px;;
    padding-left: 10px;
}

.busqueda svg{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 5px;
}

@media (max-width: 600px) {
    
    
footer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #1E2039, #363962, #1E2039);
    justify-content:center; 
    margin-top: auto;
}

.seccionFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 5px;
    
}

.seccionFooterMedia{
    padding-bottom: 0px;
    padding-top: 0px;
}

.seccionFooterIzquierda{
    padding-top: 0px;
}

.linksFooter{
display: flex;
flex-direction: column;
text-align: center;
margin-top: 8px;
}

.descripcionFooter{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
padding-left: 20%;
padding-right: 20%;
}

.logoFooter{
width: 113px;
height: 70px;
padding-top: 10px;
padding-bottom: 10px;
}

.iconoFooter{
width: 40px;
height: 40px;
}

.IconosRedesFooter{
display: flex;
padding: 20px;
align-items: center;
justify-content: center;
cursor: pointer;
flex-direction: column;
}

.contenedorRedSocial{
height: 50px;
width: 130px;
display: flex;
border-radius: 18px;
background-color: #414681;
flex-direction: row;
margin-bottom: 10px;
align-items: center;
justify-content: center;
}

#textoFooterHidden{
    visibility: hidden;
    height: 0px;
    width: 0px;
    padding: 0px;
}

.textoFooter{
    padding-top: 5px;
    padding-bottom: 0px;
}
}