.hidden {
    display: none;
}
.menu-opciones, .menu-categorias {
    display: flex;
    flex-direction: column;
}

.input-buscar,.menu-opciones, .menu-categorias{
    margin: 10px 0px;
}

.menu-opciones button {
    display: flex;
    flex-direction: row;
}
.menu-categoria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu-categoria button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;

}
.button-label {
    display: flex;
    width: 55%;
}
body{
    background-color: #04031D;
    color:white;
}

nav{
    background: linear-gradient();
}